#pageheader {
    background-image: url("../img/about/banner.png");
    height: 40vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    gap: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#pageheader h2 {
    color: #fff;
    font-size: 50px;
    padding: 10px 0;
}

#pageheader p {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

#contact-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-section .details {
    width: 40%;
}

#contact-section .details span,
#form-details form span {
    font-size: 14px;
}

#contact-section .details h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-section .details h3 {
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-section .details li {
    list-style: none;
    display: flex;

    padding: 10px;
}

#contact-section .details li i {
    font-size: 20px;
    font-weight: 500;
    padding-right: 22px;
}

#contact-section .details li p {
    margin: 0;
}

/* map */
#contact-section .map {
    width: 55%;
    height: 500px;
}

#contact-section .map iframe {
    width: 100%;
    height: 100%;
}

#form-details form {
    display: flex;
    flex-direction: column;
    width: 65%;
    align-items: flex-start;
}

#form-details form span {
    margin-bottom: 20px;
}

#form-details form h2 {
    margin-bottom: 20px;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 15px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;

}

#form-details form button {
    background: #088178;
    color: #fff;
    width: 20%;
}

/* responsive */
@media (max-width: 800px) {

    #form-details form input,
    #form-details form textarea {
        width: 90vw;
        padding: 15px 15px;
        outline: none;
        margin-bottom: 20px;
        border: 1px solid #e1e1e1;
    }
}


@media (max-width: 477px) {
    #contact-section {
        display: block;
    }

    #contact-section .details {
        width: 100%;
    }

    #contact-section .map {
        width: 100%;
    }

}